alabaster==0.7.12
altgraph==0.17.2
aniso8601==9.0.1
anki==2.1.56
anytree==2.8.0
apipkg==3.0.1
apparmor==3.1.2
appdirs==1.4.4
application-utility==1.3.2
apsw==3.40.0.0
aqt==2.1.56
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asciidoc==10.2.0
astroid==2.12.13
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.1.0
autocommand==2.2.2
Automat==22.10.0
Babel==2.11.0
babla==0.1.2
backcall==0.2.0
backoff==2.2.1
bcrypt==4.0.1
Beaker==1.12.0
beautifulsoup4==4.11.1
bidict==0.22.0
black==22.12.0
blessed==1.19.1
blessings==1.7
boltons==21.0.0
bpython==0.23
Brotli==1.0.9
brotlicffi==1.0.9.2
bs4==0.0.1
btrfsutil==6.0.2
build==0.9.0
CacheControl==0.12.11
cached-property==1.5.2
cachetools==5.2.0
cachy==0.3.0
cairocffi==1.4.0
CairoSVG==2.5.2
cchardet==2.1.7
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2022.9.24
cffi==1.15.1
cfscrape==2.1.1
chardet==5.1.0
charset-normalizer==2.1.1
cheroot==9.0.0
CherryPy==18.8.0
chevron==0.14.0
cleo==2.0.1
click==8.1.3
clikit==0.6.2
cloudscraper==1.2.66
colorama==0.4.5
comm==0.1.2
commonmark==0.9.1
constantly==15.1.0
contextlib2==21.6.0
contourpy==1.0.6
coverage==6.5.0
crashtest==0.4.1
cryptography==37.0.4
css-parser==1.0.8
cssselect==1.2.0
cssselect2==0.7.0
curtsies==0.4.1
cwcwidth==0.1.8
cycler==0.11.0
Cython==0.29.32
DAWG-Python==0.7.2
debugpy==1.6.4
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.6
distro==1.8.0
dnspython==2.2.1
docker==6.0.1
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.19
dulwich==0.20.50
EbookLib==0.17.1
elasticsearch==7.9.0
entrypoints==0.4
exceptiongroup==1.0.4
executing==1.2.0
fake-useragent==1.1.1
feedparser==6.0.10
filelock==3.8.2
Flask==2.2.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
flask-sock==0.5.2
Flask-SQLAlchemy==2.5.1
fonttools==4.38.0
fpdf==1.7.2
frozendict==2.3.4
future==0.18.2
genanki==0.13.0
google-api-core==2.11.0
google-api-python-client==2.70.0
google-auth==2.15.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.57.0
gpg==1.18.0
gql==3.4.0
graphql-core==3.2.3
greenlet==2.0.1
grpcio==1.51.1
gufw==22.4.0
h11==0.13.0
html2text==2020.1.16
html5-parser==0.4.10
html5lib==1.1
httplib2==0.21.0
hyperlink==21.0.0
idna==3.4
ifaddr==0.2.0
imagesize==1.4.1
importlib-metadata==5.0.0
incremental==22.10.0
inflate64==0.3.1
inflect==6.0.2
iniconfig==1.1.1
install==1.3.5
installer==0.6.0
ipykernel==6.19.4
ipython==8.7.0
isodate==0.6.1
isort==5.10.1
itsdangerous==2.1.2
jaraco.classes==3.2.3
jaraco.collections==3.5.2
jaraco.context==4.2.0
jaraco.functools==3.5.2
jaraco.itertools==6.2.1
jaraco.logging==3.1.2
jaraco.stream==3.0.3
jaraco.text==3.11.0
jarowinkler==1.2.3
jedi==0.18.2
jeepney==0.8.0
Jinja2==3.1.2
joblib==1.2.0
Js2Py==0.74
jsonpointer==2.3
jsonschema==4.17.3
jupyter_client==7.4.8
jupyter_core==5.1.1
keyring==23.11.0
keyutils==0.6
kiwisolver==1.4.4
lark==1.1.5
lazy-object-proxy==1.8.0
LibAppArmor==3.1.2
libmsym==0.2.4
libtorrent==2.0.8
lightdm-gtk-greeter-settings==1.2.2
lit==14.0.6.dev0
lockfile==0.12.2
loguru==0.6.0
logutils==0.3.5
louis==3.24.0
lxml==4.9.2
Mako==1.2.4
mallard-ducktype==1.0.2
manjaro-sdk==0.1
Markdown==3.4.1
markdownify==0.9.2
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mechanize==0.4.8
menulibre==2.2.3
mercurial==6.3.1
meson==1.0.0
Mnemosyne==2.9
mobi @ file:///var/tmp/pamac-build-perzi/python-mobi/src/mobi-0.3.2-py3-none-any.whl
mock==3.0.5
more-itertools==9.0.0
msgpack==1.0.4
mugshot==0.4.3
multidict==6.0.4
multitasking==0.0.11
multivolumefile==0.2.3
mypy==0.991
mypy-extensions==0.4.3
nest-asyncio==1.5.6
netifaces==0.11.0
netsnmp-python==1.0a1
nftables==0.1
nose==1.3.7
npyscreen==4.10.5
nspektr==0.4.0
Nuitka==1.0.5
numpy==1.23.5
ordered-set==4.1.0
orjson==3.8.3
packaging==21.3
pacman-mirrors==4.23.2
palabras==0.1.0
pandas==1.5.2
paramiko==2.11.1
parse==1.19.0
parso==0.8.3
pastel==0.2.1
pathspec==0.10.3
pbr==5.11.0
pdf2image==1.16.0
pdfminer==20191125
pdfminer.six==20221105
pdftotext==2.2.2
pecan==1.4.2
pefile==2022.5.30
pep517==0.13.0
persepolis==3.2.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pipreqs==0.4.11
pkgconfig==1.5.5
pkginfo==1.9.2
platformdirs==2.6.0
playsound==1.3.0
plotly==5.11.0
pluggy==1.0.0
ply==3.11
poetry==1.3.1
poetry-core==1.4.0
poetry-plugin-export==1.2.0
portend==3.1.0
prettytable==3.5.0
progress==1.6
prometheus-client==0.15.0
prompt-toolkit==3.0.36
protobuf==4.21.12
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py7zr==0.20.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.12
pybcj==1.0.1
pycairo==1.23.0
pychm==0.8.6
pycodestyle==2.10.0
pycountry==22.3.5
pycparser==2.21
pycryptodome==3.16.0
pycryptodomex==3.12.0
pydantic==1.10.2
pyee==8.2.2
Pygments==2.13.0
PyGObject==3.42.2
pyinstaller==5.3
pyinstaller-hooks-contrib==2022.8
pyjsparser==2.7.1
PyJWT==2.6.0
pylev==1.4.0
pylint==2.15.9
pymorphy2==0.9.1
pymorphy2-dicts==2.4.393442.3710985
pymorphy2-dicts-ru==2.4.417127.4579844
PyNaCl==1.4.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
PyPDF2==2.11.2
pyppeteer==1.0.2
pyppmd==1.0.0
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQt6==6.4.0
PyQt6-sip==13.4.0
PyQt6-WebEngine==6.4.0
PyQtWebEngine==5.15.6
pyquery==2.0.0
pyrsistent==0.19.2
PySide6==6.4.1
PySocks==1.7.1
PyStarDict @ file:///var/tmp/pamac-build-perzi/python-pystardict/src/PyStarDict-0.8-py2.py3-none-any.whl
pytesseract==0.3.10
pytest==7.2.0
pytest-cov==4.0.0
python-dateutil==2.8.2
python-distutils-extra==2.39
python-dotenv==0.21.0
python-lzo==1.14
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
pywin32-ctypes==0.2.0
pyxdg==0.28
PyYAML==6.0
pyzmq==24.0.1
pyzstd==0.15.3
rados==2.0.0
rapidfuzz==2.13.5
rbd==2.0.0
readmdict @ file:///var/tmp/pamac-build-perzi/python-readmdict/src/readmdict-0.1.1-py3-none-any.whl
regex==2022.10.31
reportlab==3.6.12
repoze.lru==0.7
requests==2.28.1
requests-html==0.10.0
requests-toolbelt==0.10.1
resolvelib==0.9.0
retrying==1.3.3
rfc3987==1.3.8
rgw==2.0.0
rich==12.6.0
Routes==2.5.1
rsa==4.9
scikit-learn==1.2.0
scipy==1.9.3
screeninfo @ file:///var/tmp/pamac-build-perzi/python-screeninfo/src/screeninfo-0.8.1/dist/screeninfo-0.8.1-py3-none-any.whl
SecretStorage==3.3.3
selinux==3.4
Send2Trash==1.8.0
sentence-splitter @ file:///var/tmp/pamac-build-perzi/python-sentence-splitter/src/sentence_splitter-1.4-py2.py3-none-any.whl
setproctitle==1.3.2
sgmllib3k==1.0.0
shellingham==1.5.0
shiboken6==6.4.1
simple-websocket==0.8.0
simplemma @ file:///var/tmp/pamac-build-perzi/python-simplemma/src/simplemma-0.7.0-py3-none-any.whl
six==1.16.0
SLPP @ file:///var/tmp/pamac-build-perzi/python-slpp/src/SLPP-1.2.3-py2.py3-none-any.whl
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==5.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spotify-backup==1.0.0
SQLAlchemy==1.4.44
ssmtool @ file:///var/tmp/pamac-build-perzi/ssmtool/src/ssmtool-0.6.4-py3-none-any.whl
stack-data==0.6.2
stringcase==1.2.0
svglib==1.4.1
systemd-python==235
TA-Lib==0.4.23
TBB==0.2
team==1.0
tempora==5.1.0
tenacity==8.1.0
texttable==1.6.7
threadpoolctl==3.1.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
torbrowser-launcher==0.3.6
tornado==6.2
tqdm==4.64.1
traitlets==5.8.0
trove-classifiers==2022.12.22
Turbo-Flask==0.8.0
Twisted==22.10.0
typed-ast==1.5.4
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
udiskie==2.4.2
ufw==0.36.1
unrardll==0.1.5
uritemplate==4.1.1
urllib3==1.26.13
user-agent==0.1.9
validate-pyproject==0.10.1
virtualenv==20.17.1
vocabsieve @ file:///var/tmp/pamac-build-perzi/vocabsieve/src/vocabsieve-0.8.3-py3-none-any.whl
w3lib==2.1.1
waitress==2.1.2
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
WebOb==1.8.7
websocket-client==1.4.2
websockets==10.4
WebTest==3.0.0
Werkzeug==2.2.2
wrapt==1.14.1
wrpy==0.1.0
wsproto==1.2.0
xmlsec==1.3.13
yarg==0.1.9
yarl==1.8.2
yfinance==0.2.3
youtube-dl==2021.12.17
zc.lockfile==2.0
zeroconf==0.39.4
zipp==3.11.0
zope.interface==5.5.0
zstandard==0.19.0
